<h1><strong>Estadísticas:</strong></h1><p>
<h3>Número de preguntas: <%= contquizes %></h3>
<h3>Número de comentarios: <%= contcomments %></h3>
<h3>Número de medio comentarios por pregunta: <%= nmedio %></h3>
<h3>Número de preguntas sin comentarios: <%= psin %></h3>
<h3>Número de preguntas con comentarios: <%= pcon %></h3>
